<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'page.timeline.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header">
    <div id="date">
      <span>{{ now | moment: 'Do' }}</span>
      <span>
        <span>{{ now | moment: 'dddd' }}</span>
      <span>{{ now | moment: 'MMMM YYYY' }}</span>
      </span>
    </div>
    <div id="totals">
      <div>{{ 'page.timeline.total' | translate }}</div>
      <div>{{ sum | duration }}</div>
    </div>
    <div id="time">
      {{ now | moment: 'HH:mm:ss' }}
    </div>
    <ion-fab id="timbre" top right edge>
      <button ion-fab (click)="timbrer()" color="accent"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>

  <ion-list id="timbrages" padding>
    <ion-item *ngFor="let timbrage of timbrages; let even=even">
      <ion-datetime #picker displayFormat="HH:mm" pickerFormat="DD MMM YYYY HH mm" [(ngModel)]="timbrage.date" (ngModelChange)="onChangeTime(timbrage)"></ion-datetime>
      <span *ngIf="even" item-right class="timbrage-desc" (click)="picker.open()">{{ 'timbrages.start' | translate }}</span>
      <span *ngIf="!even" item-right class="timbrage-desc" (click)="picker.open()">{{ 'timbrages.end' | translate }}</span>
      <button ion-button icon-only (click)="delete(timbrage)" color="danger" item-end>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>