$break-small: 320px;

page-timbrages {

    .toolbar-title, div.header {
        color: map-get($colors,light);
    }

    div.header {
        height: 15em;
        background-color: map-get($colors,primary);
        padding: 2em;
        position: fixed;
        top: 4em;
        width: 100%;
        z-index: 1;

        #date, #totals {
            display: inline-block;
        }

        #date {
            > span:nth-child(1) {
                font-size: 4em;
                padding-right: 0.2em;
            }
            span:nth-child(2) {
                display: inline-block;

                > span:nth-child(1) {
                    display: block;
                    padding-bottom: 0.4em;
                }

                > span:nth-child(2) {
                    color: map-get($colors,primary-light);
                }
            }
        }

        #totals {
            float: right;
            position: relative;
            top: 1em;

            > div:nth-child(1) {
                text-align: end;
            }

            > div:nth-child(2) {
                font-size: 2em;
            }
        }

        #time {
            font-size: 2em;
            padding-top: 1em;
            padding-left: 2em;
            
            @media screen and (max-width: $break-small) {
                padding-left: 0;
            }
        }
        
        #timbre {
            top: 13em;
        }

        .fab-md-accent {
            color: map-get($colors,accent-dark);
        }
    }
    
    div.scroll-content {
        overflow: hidden;
    }
    
    ion-list#timbrages {
        padding-top: 17em;

        ion-item {
            div.input-wrapper {
                flex: initial; // reset stretch
            }

            span.timbrage-desc {
                flex: 1; // stretch
                color: map-get($colors,secondary-text);
            }

            button {
                width: 2.5em;
            }
        }

    }
}
