<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ viewTitle }}</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="isSelectedToday" (click)="today()">{{ 'page.calendar.today' | translate }}</button>
      <button ion-button (click)="share()" [disabled]="!events || events.length == 0"><ion-icon name="share"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ng-template #monthviewDefaultDisplayEventTemplate let-view="view" let-row="row" let-col="col">
  {{view.dates[row*7+col].label}}
</ng-template>
<ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
  <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <ion-item *ngIf="selectedDate?.events.length>0" class="monthview-eventdetail-timecolumn">{{sumOfDay(selectedDate?.events) | duration}}</ion-item>
    <div *ngFor="let event of selectedDate?.events">
      <ion-item *ngIf="event.startTimbrage">
        <ion-datetime displayFormat="HH:mm" pickerFormat="DD MMM YYYY HH mm" [(ngModel)]="event.startTimbrage.date" (ngModelChange)="onChangeTime(event.startTimbrage)"></ion-datetime>
        <span item-right class="timbrage-desc">{{ 'timbrages.start' | translate }}</span>
        <button ion-button icon-only (click)="delete(event.startTimbrage)" color="danger" item-right>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="event.endTimbrage && event.endTimbrage._id">
        <ion-datetime displayFormat="HH:mm" pickerFormat="DD MMM YYYY HH mm" [(ngModel)]="event.endTimbrage.date" (ngModelChange)="onChangeTime(event.endTimbrage)"></ion-datetime>
        <span item-right class="timbrage-desc">{{ 'timbrages.end' | translate }}</span>
        <button ion-button icon-only (click)="delete(event.endTimbrage)" color="danger" item-right>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="event.endTimbrage && !event.endTimbrage._id">
        {{ event.endTimbrage.date | moment: 'HH:mm' }}
        <span item-right class="timbrage-desc">{{ 'timbrages.end' | translate }}</span>
      </ion-item>
      <!--<span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
        start {{event.startTime|date: 'HH:mm'}} to {{event.endTime|date: 'HH:mm'}}
      </span>-->
      <ion-item *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">{{allDayLabel}}</ion-item>
      <!--<span class="event-detail">total : {{event.title}}</span>-->
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </div>
  </ion-list>
</ng-template>

<ion-content class="has-header" #content>
  <calendar [calendarMode]="calendarCtrl.mode" [currentDate]="calendarCtrl.currentDate" [eventSource]="events" [markDisabled]="markDisabled"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onTitleChanged)="onViewTitleChanged($event)" step="30" [monthviewDisplayEventTemplate]="monthviewDefaultDisplayEventTemplate"
    [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate" [dateFormatter]="calendarCtrl.dateFormatter">
  </calendar>
</ion-content>